h1 {
  margin-bottom: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.12em;

}

.flame {
  display: none;
  object-fit: cover;
}

@media screen and (min-width: 50em)
{
  .side-flame {
    display: block;
    margin-right: 20px;
    width: 12.5%;
  }
}

@media screen and not (min-width: 50em){
  .bottom-flame {
    display: block;
    width: 50%;
    margin: 1em auto;
  }

  h1, .tagline {
    text-align: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-and-title {
  display: flex;
  margin-bottom: 2.7em;
  width: 100%;
  justify-content: left;
}

.title {
  border-bottom: 1px solid;
}
