/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  width: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: black;
  background-color: antiquewhite;
  max-width: 50em;
  margin: 0 auto;
  padding-top: 2em;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.12em;

}

.flame {
  display: none;
  object-fit: cover;
}

@media screen and (min-width: 50em)
{
  .side-flame {
    display: block;
    margin-right: 20px;
    width: 12.5%;
  }
}

@media screen and not (min-width: 50em){
  .bottom-flame {
    display: block;
    width: 50%;
    margin: 1em auto;
  }

  h1, .tagline {
    text-align: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-and-title {
  display: flex;
  margin-bottom: 2.7em;
  width: 100%;
}

.title {
  border-bottom: 1px solid;
}
