h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: normal;
}

.incoming {
  margin-top: 3rem;
}

@media screen and (min-width: 50em) {
  .previous-paths-list,.next-paths-list {
    padding-top: 3.5em;
  }
}

@media screen and not (min-width: 50em)
{
  .row {
    flex-direction: column;
    gap: 1em;
  }

  article {
    order: 1;
  }

  .previous-paths-list {
    order: 2;
  }

  .next-paths-list {
    order: 3;
    text-align: right;
  }
}

.row {
  flex-wrap: wrap;
}
